{{> flash_messages}}

<h4>Welcome back, <b>{{currentUser.fullName}}!</b></h4>
<h5>{{title}}</h5>
{{!-- <p>Welcome to {{title}}</p> --}}

<button class="btn btn-primary"><a href="/categories">New project</a></button>
