{{> flash_messages}}

<h5>{{title}}</h5>

{{#if currentUser}} 
  <h3>Welcome back, {{currentUser.fullName}}!</h3>
  <button class="btn btn-primary"><a href="/categories">New project</a></button>
  <button class="btn btn-primary"><a href="/my-projects">My Projects</a></button>
  {{else}}
  <button class="btn btn-primary"><a href="/login">New project</a></button>
{{/if}}



