<div class = "error-page">
  <p class ="title-error">Sorry<span>.</span></p>
  <p class ="error-p">We couldn't find that page<br/>Go to our <a href="/">home page</a></p>
  
  <img src="../images/sorry.png" class="img-error"/>
</div>