<div class="wrapper fond-settings">

  <h2>User Settings</h2>
  <h3 class="login-h3">Update yours details</h3>

  <div class="signup-container">

  <form action="/process-settings" method="POST">
    <div class="form-group">
      <label>Full name</label>
      <input type="text" class="form-control" name="fullName" value="{{currentUser.fullName}}" placeholder="Your full name"/>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" value="{{currentUser.email}}" placeholder="Your email"/>
    </div>

    <div class="bouton-settings">
      <button class="btn btn-primary">Save Settings</button>
    </div>

  </form>

  </div>

</div>