<h2>Categories</h2>

<form action="/templates" method="POST">

  <label>What kind of website do you want to create?</label>
  <br/>

    <div>
        <input type="radio" id="blog" name="category" value="blog" checked />
        <label for="blog">Blog</label>
    </div>

    <div>
        <input type="radio" id="portfolio" name="category" value="portfolio"/>
        <label for="portfolio">Portfolio</label>
    </div>

    <div>
        <input type="radio" id="ecommerce" name="category" value="ecommerce"/>
        <label for="ecommerce">Ecommerce</label>
    </div>

    <div>
        <input type="radio" id="corporate" name="category" value="corporate website"/>
        <label for="corporate">Corporate Website</label>
    </div>
    <br/>
  
  <button>Next Step</button>
  
</form>

<a href="/my-projects">Return</a>