<h2>Pick a Palette</h2>

<form action="/fonts/{{ projectItem._id }}" method="POST">
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <label for="color1">
        <img src="../../images/palette1.png">
        <input type="radio" id="color1" name="color" autocomplete="off" value="../../images/palette1.png" checked />
      </label>
    </div>

    <div class="col-sm-3">
      <label for="color2">
        <img src="../../images/palette2.png">
        <input type="radio" id="color2" name="color" value="../../images/palette2.png">
      </label>
    </div>

    <div class="col-sm-3">
      <label for="color3">
        <img src="../../images/palette3.png">
        <input type="radio" id="color3" name="color" value="../../images/palette3.png">
      </label>
    </div>

    <div class="col-sm-3">
      <label for="color4">
        <img src="../../images/palette4.png">
        <input type="radio" id="color4" name="color" value="../../images/palette4.png">
      </label>
    </div>
  </div>
</div>

<button class="btn btn-primary">Next</button>

</form>

<a href="/templates"><button class="btn btn-primary">Return</button></a>