<h2>Pick a Palette</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img src="../../images/palette1.png">
    </div>
    <div class="col-sm-3">
      <img src="../../images/palette2.png">
    </div>
    <div class="col-sm-3">
      <img src="../../images/palette3.png">
    </div>
    <div class="col-sm-3">
      <img src="../../images/palette4.png">
    </div>
  </div>
</div>