<h2>Pick a Palette</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <button class="btn-group-toggle" data-toggle="buttons">
        <label>
          <input type="radio" id="color1" name="palettes" autocomplete="off" checked />
          <img src="../../images/palette1.png">
        </label>
      </button>
    </div>
    <div class="col-sm-3">
      <button>
        <label>
          <input type="radio" id="color2" name="palettes">
          <img src="../../images/palette2.png">
        </label>
      </button>
    </div>
    <div class="col-sm-3">
      <button>
        <label>
          <input type="radio" id="color3" name="palettes">
          <img src="../../images/palette3.png">
        </label>
      </button>
    </div>
    <div class="col-sm-3">
      <button>
        <label>
          <input type="radio" id="color4" name="palettes">
          <img src="../../images/palette4.png">
        </label>
      </button>
    </div>
  </div>
</div>