<h2>Pick a Palette</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
        <label>
          <img src="../../images/palette1.png">
          <input type="radio" id="color1" name="palettes" autocomplete="off" checked />
        </label>
    </div>
    <div class="col-sm-3">
        <label>
          <img src="../../images/palette2.png">
          <input type="radio" id="color2" name="palettes">
        </label>
    </div>
    <div class="col-sm-3">
        <label>
          <img src="../../images/palette3.png">
          <input type="radio" id="color3" name="palettes">
        </label>
    </div>
    <div class="col-sm-3">
        <label>
          <img src="../../images/palette4.png">
          <input type="radio" id="color4" name="palettes">
        </label>
    </div>
  </div>
</div>

<button class="btn btn-outline-primary"><a href="/templates">Return</a></button>