<div>
  <h2 class="colors">Pick a Font Association</h2>

  <div class="fonts-container">
    <form class="fonts-form" action="/project-details/{{ projectItem._id }}" method="POST">
      <div class="container fonts-cards">
      <div class="row">

        <div class="col-sm-4">
          <div class="card">
            <label for="font1">
              <img class="fonts-img" src="../../images/images-font-01.png">
              <div class="card-body">
                <input type="radio" id="fonts1" name="font" value="../../images/font1.png" checked>
              </div>
            </label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <label for="font2">
              <img class="fonts-img" src="../../images/images-font-02.png">
              <div class="card-body">
                <input type="radio" id="fonts2" name="font" value="../../images/font2.png">
              </div>
            </label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <label for="font3">
              <img class="fonts-img" src="../../images/images-font-03.png">
              <div class="card-body">
                <input type="radio" id="fonts3" name="font" value="../../images/font3.png">
              </div>
            </label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <label for="font4">
              <img class="fonts-img" src="../../images/images-font-04.png">
              <div class="card-body">
                <input type="radio" id="fonts4" name="font" value="../../images/font4.png">
              </div>
            </label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <label for="font5">
              <img class="fonts-img" src="../../images/images-font-05.png">
              <div class="card-body">
                <input type="radio" id="fonts5" name="font" value="../../images/font5.png">
              </div>
            </label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <label for="font6">
              <img class="fonts-img" src="../../images/images-font-06.png">
              <div class="card-body">
                <input type="radio" id="fonts6" name="font" value="../../images/font6.png">
              </div>
            </label>
          </div>
        </div>

      </div>
      </div>
      <button class="btn btn-primary">Done</button>
    </form>
  </div>
      <div class="return-wrapper">
        <a href="/colors/{{ projectItem._id }}"><button class="return">< Return</button></a>
      </div>
</div>