<h2>My projects</h2>

<div class="projects-container">
  <ul>
    {{#each projectArray}}
      <li>
        <img src="{{ this.template }}">
        <p>{{ this.title }}</p>
        <a href="/project-details/{{ this._id }}">Details</a>
        <a href="/templates">Edit</a>
        <a href="/{{ this._id }}/delete">Delete this project</a>
      </li>
    {{/each}}
  </ul>
</div>


<a href="/categories">Add A New Project</a>

