<div class="wrapper">

  <h2>My Projects</h2>

  <div>
    <ul class="container project-container">
      {{!-- <div> --}}
        <div class="row">
          <div class="col-sm-3">
              {{#each projectArray}}
                <div class="card">
                  <label>
                    <img class="card-img-top" src="../../images/{{this.template}}" class="card-img-top"  alt="template image">
                    <div class="card-body">
                      <h6 class="card-title">{{this.title}}</h6>
                      <div class="details-btn">
                        <a href="/project-details/{{ this._id }}" class="btn btn-primary">Details</a>
                        <a href="/{{ this._id }}/delete" class="btn btn-secondary">Delete</a>
                      </div>
                    </div>
                  </label>
                </div>
              {{/each}}
          </div>
        </div>
      {{!-- </div> --}}
    </ul>
  </div>
  <a href="/categories" class="btn btn-primary">Add New Project</a>
</div>
