<div class="wrapper details-wrapper">
  <h2>My Project Details</h2>
  <h3>{{ projectItem.title }}</h3>

  <div class="template-preview">
    
  </div>




  <a class="btn btn-primary" href="/templates/{{projectItem._id}}">Edit</a>
  <a class="btn btn-secondary" href="/{{ projectItem._id }}/delete">Delete</a>
</div>