<h2>Choose your template</h2>

<form action="" method="">





  <button class="btn btn-outline-primary"><a href="/colors">Next Step</a></button>
  <button class="btn btn-outline-primary"><a href="/categories">Return</a></button>

</form>