<div class="wrapper">

<h2>Choose a name for your template</h2>

<div class="template-container">
  <form class="template-form" action="/colors/{{ projectItem._id }}" method="POST">
    
    <div class="project-title-container">
      <label class="project-title" for="project-title">Project Name</label>
      <div class="input-group mb-3">
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>
    </div>


    <h3 class="template-h3">{{projectItem.category}} templates</h3>

    <div class="container template-cards">
      <div class="row justify-content-center">

      {{#if projectItem.blog}}
        <div class="col-sm-3">
          <div class="card">
            <label for="blog1">
              <img class="card-img-top" src="../../images/blog1.png" />
                <div class="card-body">
                  <h5 class="card-title">Name1</h5>
                  <input type="radio" id="blog1" name="template" value="../../images/blog1.png" checked />
              </div>
            </label>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <label for="blog2">
              <img class="card-img-top" src="../../images/blog2.png" />
              <div class="card-body">
                <h5 class="card-title">Name2</h5>
                <input type="radio" id="blog2" name="template" value="../../images/blog2.png"/>
              </div>
            </label>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <label for="blog3">
              <img class="card-img-top" src="../../images/blog3.png" />
              <div class="card-body">
                <h5 class="card-title">Name3</h5>
                <input type="radio" id="blog3" name="template" value="../../images/blog3.png"/>
              </div>
            </label>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <label for="blog4">
              <img class="card-img-top" src="../../images/blog4.png" />
              <div class="card-body">
                <h5 class="card-title">Name4</h5>
                <input type="radio" id="blog4" name="template" value="../../images/blog4.png"/>
              </div>
            </label>
          </div>
        </div>
      {{/if}}

      {{#if projectItem.ecommerce}}
        <div class="col-sm-3">
          <div class="card">
            <label for="ecommerce1">
              <img class="card-img-top" src="../../images/ecommerce1.png" />
              <div class="card-body">
                  <h5 class="card-title">Name</h5>
                <input type="radio" id="ecommerce1" name="template" value="../../images/ecommerce1.png" checked />
              </div>
            </label>
          </div>
        </div>

          <div class="col-sm-3">
            <div class="card">
            <label for="ecommerce2">
              <img class="card-img-top" src="../../images/ecommerce2.png" />
              <div class="card-body">
                  <h5 class="card-title">Name</h5>
                <input type="radio" id="ecommerce2" name="template" value="../../images/ecommerce2.png"/>
              </div>
            </label>
          </div>
        </div>

          <div class="col-sm-3">
            <div class="card">
            <label for="ecommerce3">
              <img class="card-img-top" src="../../images/ecommerce3.png" />
              <div class="card-body">
                  <h5 class="card-title">Name</h5>
                <input type="radio" id="ecommerce3" name="template" value="../../images/ecommerce3.png"/>
              </div>
            </label>
          </div>
        </div>

          <div class="col-sm-3">
            <div class="card">
            <label for="ecommerce4">
              <img class="card-img-top" src="../../images/ecommerce4.png" />
              <div class="card-body">
                  <h5 class="card-title">Name</h5>
                <input type="radio" id="ecommerce4" name="template" value="../../images/ecommerce3.png"/>
              </div>
            </label>
          </div>
        </div>
      {{/if}}

      {{#if projectItem.portfolio}}
        <div class="col-sm-3">
          <div class="card">
            <label for="portfolio1">
              <img class="card-img-top" src="../../images/portfolio1.png" />
              <div class="card-body">
                <h5 class="card-title">Name1</h5>
                <input type="radio" id="portfolio1" name="template" value="../../images/portfolio1.png" checked />
              </div>
            </label>
          </div>
        </div>

          <div class="col-sm-3">
            <div class="card">
            <label for="portfolio2">
              <img class="card-img-top" src="../../images/portfolio2.png" />
              <div class="card-body">
                <h5 class="card-title">Name2</h5>
                <input type="radio" id="portfolio2" name="template" value="../../images/portfolio2.png"/>
              </div>
            </label>
          </div>
        </div>

          <div class="col-sm-3">
            <div class="card">
            <label for="portfolio3">
              <img class="card-img-top" src="../../images/portfolio3.png" />
              <div class="card-body">
                <h5 class="card-title">Name3</h5>
                <input type="radio" id="portfolio3" name="template" value="../../images/portfolio3.png"/>
              </div>
            </label>
          </div>
        </div>

          <div class="col-sm-3">
            <div class="card">
            <label for="portfolio4">
              <img class="card-img-top" src="../../images/portfolio4.png" />
              <div class="card-body">
                <h5 class="card-title">Name4</h5>
                <input type="radio" id="portfolio4" name="template" value="../../images/portfolio4.png"/>
              </div>
            </label>
          </div>
        </div>
      {{/if}}

      {{#if projectItem.corporate}}
        <div class="col-sm-3">
          <div class="card">
            <label for="corporate1">
              <img class="card-img-top" src="../../images/corporate1.png" />
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <input type="radio" id="corporate1" name="template" value="../../images/corporate1.png" checked />
            </div>
            </label>
          </div>
        </div>

          <div class="col-sm-3">
            <div class="card">
              <label for="corporate2">
                <img class="card-img-top" src="../../images/corporate2.png" />
                <div class="card-body">
                  <h5 class="card-title">Name</h5>
                  <input type="radio" id="corporate2" name="template" value="../../images/corporate2.png"/>
                </div>
              </label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card">
            <label for="corporate3">
              <img class="card-img-top" src="../../images/corporate3.png" />
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <input type="radio" id="corporate3" name="template" value="../../images/corporate3.png"/>
              </div>
            </label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card">
            <label for="corporate4">
              <img class="card-img-top" src="../../images/corporate4.png" />
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <input type="radio" id="corporate4" name="template" value="../../images/corporate4.png"/>
            </div>
            </label>
          </div>
          </div>
      {{/if}}

      </div>
    </div>

    <button class="btn btn-primary">Next Step</button>
  </form>
</div>

<form action="/categories" method="POST">
  <input type="hidden" value="{{ projectItem }}" name="projectItem"/>
  <button class="btn btn-secondary">Return</button>
</form>
</div>