<h2>Choose your template</h2>

<form action="/process-choose-template" method="POST">

  <label>Our templates</label>
  <br/>

  <div>
    <img src="../../images/template1.png" />
    <br/>
    <input type="radio" id="template1" name="template" checked />
    <label for="template1">Template 1</label>
  </div>

  <div>
    <img src="../../images/template2.png" />
    <br/>
    <input type="radio" id="template2" name="template"/>
    <label for="template2">Template 2</label>
  </div>

  <div>
    <img src="../../images/template3.png" />
    <br/>
    <input type="radio" id="template3" name="template"/>
    <label for="template3">Template 3</label>
  </div>

  <button class="btn btn-outline-primary"><a href="/colors">Next Step</a></button>
  <button class="btn btn-outline-primary"><a href="/categories">Return</a></button>

</form>