<h2>Choose a name and your template</h2>

<form action="/process-choose-template" method="POST">

  <label>
    Your website's name:
    <input type="text" name="title" placeholder="My website..."/>
  </label>
  <br/>

  <label>Our templates</label>
  <br/>

  <div>
    <img src="../../images/template1.png" />
    <br/>
    <input type="radio" id="template1" name="template" value="../../images/template1.png" checked />
    <label for="template1">Template 1</label>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
          <label for="template1">
            <img src="../../images/template1.png" />
            <input type="radio" id="template1" name="template" />
          </label>
      </div>

      <div class="col-sm-3">
          <label for="template2">
            <img src="../../images/template2.png" />
            <input type="radio" id="template2" name="template"/>
          </label>
      </div>

      <div class="col-sm-3">
          <label for="template3">
            <img src="../../images/template3.png" />
            <input type="radio" id="template3" name="template"/>
          </label>
      </div>

    </div>
  </div>

  <button class="btn btn-outline-primary"><a href="/colors">Next Step</a></button>
  <button class="btn btn-outline-primary"><a href="/categories">Return</a></button>

</form>