<h2>Choose your template</h2>

<form action="/process-choose-template" method="POST">

  <label>Our templates</label>
  <br/>

  <div>
      
    <img src="../../images/template1.png" />
    <br/>

    <div>
      <input type="radio" id="template1" name="template" checked />
      <label for="template1">Template 1</label>
    </div>

  </div>

  <div>
      
    <img src="../../images/template2.png" />
    <br/>

    <div>
      <input type="radio" id="template2" name="template" />
      <label for="template1">Template 2</label>
    </div>
      
  </div>

  <div>
      
    <img src="../../images/template3.png" />
    <br/>

    <div>
      <input type="radio" id="template3" name="template" />
      <label for="template1">Template 3</label>
    </div>
      
  </div>


  <a href="/colors">Next Step</a>
  <a href="/categories">Return</a>

</form>