<h2>Choose a name and your template</h2>

<form action="/colors/{{ projectItem._id }}" method="POST">

  <label>
    Give a Name to your Website:
    <input type="text" name="title" placeholder="My Amazing Website"/>
  </label>
  <br/>

  <label>Our templates</label>
  <br/>

  <div class="container">
    <div class="row">

    {{#if projectItem.blog}}
      <div class="col-sm">
        <label for="blog1">
          <img src="../../images/blog1.png" />
          <input type="radio" id="blog1" name="blog" value="../../images/blog1.png" checked />
        </label>
      </div>

      <div class="col-sm">
        <label for="blog2">
          <img src="../../images/blog2.png" />
          <input type="radio" id="blog2" name="blog" value="../../images/blog2.png"/>
        </label>
      </div>

      <div class="col-sm">
        <label for="blog3">
          <img src="../../images/blog3.png" />
          <input type="radio" id="blog3" name="blog" value="../../images/blog3.png"/>
        </label>
      </div>

      <div class="col-sm">
        <label for="blog4">
          <img src="../../images/blog4.png" />
          <input type="radio" id="blog4" name="blog" value="../../images/blog4.png"/>
        </label>
      </div>
    {{/if}}

    {{#if projectItem.ecommerce}}
      <div class="col-sm">
          <label for="ecommerce1">
            <img src="../../images/ecommerce1.png" />
            <input type="radio" id="ecommerce1" name="ecommerce" value="../../images/ecommerce1.png" checked />
          </label>
        </div>

        <div class="col-sm">
          <label for="ecommerce2">
            <img src="../../images/ecommerce2.png" />
            <input type="radio" id="ecommerce2" name="ecommerce" value="../../images/ecommerce2.png"/>
          </label>
        </div>

        <div class="col-sm">
          <label for="ecommerce3">
            <img src="../../images/ecommerce3.png" />
            <input type="radio" id="ecommerce3" name="ecommerce" value="../../images/ecommerce3.png"/>
          </label>
        </div>
    {{/if}}

    {{#if projectItem.portfolio}}
      <div class="col-sm">
          <label for="portfolio1">
            <img src="../../images/portfolio1.png" />
            <input type="radio" id="portfolio1" name="portfolio" value="../../images/portfolio1.png" checked />
          </label>
        </div>

        <div class="col-sm">
          <label for="portfolio2">
            <img src="../../images/portfolio2.png" />
            <input type="radio" id="portfolio2" name="portfolio" value="../../images/portfolio2.png"/>
          </label>
        </div>

        <div class="col-sm">
          <label for="portfolio3">
            <img src="../../images/portfolio3.png" />
            <input type="radio" id="portfolio3" name="portfolio" value="../../images/portfolio3.png"/>
          </label>
        </div>

        <div class="col-sm">
          <label for="portfolio4">
            <img src="../../images/portfolio4.png" />
            <input type="radio" id="portfolio4" name="portfolio" value="../../images/portfolio4.png"/>
          </label>
        </div>
    {{/if}}

    {{#if projectItem.corporate}}
      <div class="col-sm">
          <label for="corporate1">
            <img src="../../images/corporate1.png" />
            <input type="radio" id="corporate1" name="corporate" value="../../images/corporate1.png" checked />
          </label>
        </div>

        <div class="col-sm">
          <label for="corporate2">
            <img src="../../images/corporate2.png" />
            <input type="radio" id="corporate2" name="corporate" value="../../images/corporate2.png"/>
          </label>
        </div>

        <div class="col-sm">
          <label for="corporate3">
            <img src="../../images/corporate3.png" />
            <input type="radio" id="corporate3" name="corporate" value="../../images/corporate3.png"/>
          </label>
        </div>

        <div class="col-sm">
          <label for="corporate4">
            <img src="../../images/corporate4.png" />
            <input type="radio" id="corporate4" name="corporate" value="../../images/corporate4.png"/>
          </label>
        </div>
    {{/if}}

    </div>
  </div>

  <button class="btn btn-outline-primary">Next Step</button>
</form>

<form action="/categories" method="POST">
  <input type="hidden" value="{{ projectItem }}" name="projectItem"/>
  <button class="btn btn-outline-primary">Return</button>
</form>