body {
  padding-top: 83.88px;
  font-family: 'Helvetica', sans-serif;
  background-color: #FCFCFC;
  margin: 0 auto;
  width: 100%;
  height: 100%; }

[class$="-message"] {
  padding: 10px 0px; }

.index-h4 {
  margin-top: 20px;
  font-size: 45px; }

.error-message {
  color: #ff145a; }

.main {
  background-image: url("../images/test-fond.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.fond-settings {
  background-image: url("../images/fond-settings-05.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.btn-primary a {
  text-decoration: none;
  color: white;
  border-color: #00FFC3; }

.btn-primary {
  text-decoration: none;
  color: white;
  border-color: #00FFC3;
  background-color: #00FFC3; }

.btn-primary a:hover {
  text-decoration: none;
  color: white; }

.btn-primary:hover {
  background-color: #00dda9;
  color: white;
  border-color: #00dda9; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #00dda9;
  border-color: #00dda9; }

header {
  background-color: #fcfcfc;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  z-index: 1; }

.nav-logo {
  float: left;
  padding: 18px 40px; }

.nav-logo img {
  width: 70%; }

nav a {
  text-decoration: none;
  color: #712FF5;
  font-family: 'Montserrat', sans-serif; }

nav {
  width: 100%;
  float: right;
  background-color: #FCFCFC; }

.nav-link {
  padding-top: 37px; }

.nav-link:hover {
  text-decoration: none;
  color: #00FFC3;
  font-weight: bolder; }

.nav-item {
  margin-right: 4%; }

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #00dda9; }

.index {
  text-align: center; }

.index-btn {
  text-align: center;
  padding: 5px; }

#btn-landing {
  margin: 10px; }

h2, h4, h5 {
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif; }

.index-h5 {
  font-weight: 200;
  font-size: 28px;
  padding-top: 8px; }

.login-h3, .cat-h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-bottom: 70px; }

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.home-page-img {
  width: 60%; }

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 80px auto; }

.bouton-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px; }

.btn-aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }

.btn-aside button {
  margin-left: 50px; }

.bouton-login a {
  width: 172px; }

.google-login {
  width: 100%; }

.form-group label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; }

.form-group {
  width: 100%; }

.login-container form {
  width: 350px; }

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 80px auto; }

.bouton-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px; }

.bouton-signup a {
  width: 172px; }

.google-login {
  width: 100%; }

.form-group label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; }

.form-group {
  width: 100%; }

.signup-container form {
  width: 350px; }

.bouton-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; }

.fond-categories {
  background-image: url("../images/fond-categories-02.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.form-container {
  width: 1300px;
  margin: 0 auto; }

.form-container .row {
  margin-right: 0px;
  margin-left: 0px; }

.form-container .card {
  border-style: none;
  margin-bottom: 40px; }

.card {
  background-color: #FCFCFC;
  border-style: none; }

.form-container .btn {
  text-align: center;
  margin-bottom: 20px; }

.form-container .card-img-top {
  width: 30%; }

.cat-form {
  text-align: center; }

.return-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }

.fond-templates {
  background-image: url("../images/fond-template-03.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.project-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  flex-direction: column; }

.project-title {
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  font-weight: 200; }

.input-group {
  width: 300px; }

.template-cards {
  margin-bottom: 40px; }

.template-container .card-body {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: none; }

.template-cards .card {
  border-style: none; }

.template-form {
  text-align: center;
  margin-bottom: 20px; }

.template-h3 {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px; }

.form-control, .form-control:focus {
  border-style: none;
  background-color: #FCFCFC;
  border-bottom: 1px solid #712FF5;
  border-radius: 0;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #712FF5; }

.return {
  font-family: 'Montserrat', sans-serif;
  color: #712FF5;
  border: none;
  background-color: #FCFCFC; }

.return a {
  text-decoration: none;
  color: #712FF5; }

.categories {
  margin-bottom: 40px; }

.fond-colors {
  background-image: url("../images/fond-colors-04.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.colors-container .card-body {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: none; }

.colors-container {
  text-align: center;
  margin-bottom: 20px; }

.colors-cards {
  margin-bottom: 28px; }

.colors {
  margin-bottom: 50px; }

.fonts-img {
  width: 70%; }

.fonts-container .card-body {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: none; }

.fonts-form {
  text-align: center;
  margin-bottom: 15px; }

.project-container .card-body {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: none; }

.project-container h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.project-container a {
  margin: 10px; }

.projects-wrapper {
  text-align: center;
  min-height: 80vh; }

.projects-btn {
  margin-bottom: 40px; }

.projects-wrapper .card {
  margin-bottom: 20px; }

.projects-wrapper h2 {
  margin-bottom: 30px; }

.details-wrapper h2 {
  text-align: left;
  padding-left: 60px; }

.details-wrapper h3 {
  text-align: left;
  padding-left: 60px;
  color: #712FF5;
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  height: calc( 100vh - 80px - 83.88px);
  text-align: center; }

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #712FF5;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px; }

.footer-img {
  width: 10%; }

.footer p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 0; }

.features-container {
  background-color: white;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.feature1, .feature2, .feature3 {
  width: 250px;
  text-align: center;
  background-color: white;
  margin: 80px 50px;
  padding: 15px; }

.features-container img {
  width: 40%;
  margin-bottom: 30px; }

.features-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 500; }

.features-container p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 15px; }

.error-page {
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0; }

.img-error {
  width: 28%; }

.title-error {
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 500; }

.title-error span {
  color: #712FF5; }

.error-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height: 30px;
  text-align: center; }

.error-p a {
  color: #00FFC3; }

.template-preview img {
  width: 20%; }

/*# sourceMappingURL=style.css.map */