body {
  padding-top: 83.88px;
  font-family: 'Helvetica', sans-serif;
  background-color: #FCFCFC;
  margin: 0 auto;
  width: 100%;
  height: 100%;;
}

[class$="-message"]{
  // background-color: #00FFC3;
  // border-radius: 3px;
  padding: 10px 0px;
}

// .success-message {
//   color: chartreuse;
// }

.error-message {
  color: rgb(255, 20, 90);
}

.fonts-img {
  border: 1px solid lightgray;
  border-radius: 5px;
  // box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.23);
}

.btn-outline-primary a {
  text-decoration: none;
  color: #712FF5;
  border-color: #712FF5;
}

.btn-outline-primary {
  color: #712FF5;
  border-color: #712FF5;
}

.btn-outline-primary a:hover {
  text-decoration: none;
  color: white;
}

.btn-outline-primary:hover {
  background-color: #712FF5;
  color: white;
  border-color: #712FF5;
}

header {
  // height: 50px;
  background-color: #fcfcfc;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 15px;
  z-index: 1;
}

.nav-logo {
  float: left;
  padding: 18px 40px;
}

.nav-logo img {
  width: 50%;
}

nav a {
  text-decoration: none;
  color: #712FF5;
  font-family: 'Montserrat', sans-serif;
}

nav {
  width: 100%;
  float: right;
  background-color: #FCFCFC;
}

.nav-link {
  padding-top: 30px;
}

.nav-link:hover {
  text-decoration: none;
  color: #712FF5;
  font-weight: bolder;
}

.nav-item {
  margin-right: 2%;
}

.index {
  text-align: center;
  padding-bottom: 15px;
}

.index-btn {
  text-align: center;
}

.index-h5 {
  font-weight: 200;
  font-size: 16px;
}

h2, h4, h5 {
  text-align: center;
  font-weight: bold;
  padding-top: 25px;
  font-family: 'Montserrat', sans-serif;
}

.login-h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-img {
  width: 60%;
}

// LOGIN FORM

.google-login {
  width: 15%;
}

// CATEGORIES

.wrapper {
  height: calc( 100vh - 50px - 83.88px );
}

// FOOTER

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #712FF5;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.footer-img {
  width: 8%;
}

.footer p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0;
}

// FEATURES CONTAINER HP
.features-container {
  margin-bottom: 40px;
  height: 500px;
  background-color: white;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature1, .feature2, .feature3 {
  height: 400px;
  width: 250px;
  background-color: #FCFCFC;
  margin: 0px 50px;
  padding: 15px;
}