<h2>Log In</h2>

<form action="/process-login" method="POST">
  
  <label>
    Email:
    <input type="email" name="email" placeholder="leia@resistance.com"/>
  </label>
  <br/>

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="it's a secret"/>
  </label>
  <br/>

  <button>Log In</button>

</form>