<h2>Sign up</h2>

<form action="/process-signup" method="POST">
  <label>
    Full Name:
    <input type="text" name="fullName" placeholder="Full Name"/>
  </label>

  <label>
    Email:
    <input type="email" name="email" placeholder="name@example.com"/>
  </label>

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="At least 8 characters..."/>
  </label>

  <button>Sign Up</button>
  <button>HELLO</button>
</form>